In [1]:
import pandas as pd
import numpy as np

In [2]:
ad = pd.read_csv('actual_duration.csv')

In [3]:
ar = pd.read_csv('appointments_regional.csv')

In [4]:
nc = pd.read_excel('national_categories.xlsx')

In [5]:
print(ad.columns)

Index(['sub_icb_location_code', 'sub_icb_location_ons_code',
       'sub_icb_location_name', 'icb_ons_code', 'region_ons_code',
       'appointment_date', 'actual_duration', 'count_of_appointments'],
      dtype='object')

In [6]:
nc.describe()

       count_of_appointments
count          817394.000000
mean              362.183684
std              1084.576600
min                 1.000000
25%                 7.000000
50%                25.000000
75%               128.000000
max             16590.000000

In [7]:
ad

,sub_icb_location_code,sub_icb_location_ons_code,sub_icb_location_name,icb_ons_code,region_ons_code,appointment_date,actual_duration,count_of_appointments
0,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,31-60 Minutes,364
1,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,21-30 Minutes,619
2,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,6-10 Minutes,1698
3,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,Unknown / Data Quality,1277
4,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,16-20 Minutes,730
...,...,...,...,...,...,...,...,...
137788,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,31-60 Minutes,430
137789,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,21-30 Minutes,751
137790,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,16-20 Minutes,921
137791,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,11-15 Minutes,1439
137792,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,1-5 Minutes,1739

In [8]:
ar

,icb_ons_code,appointment_month,appointment_status,hcp_type,appointment_mode,time_between_book_and_appointment,count_of_appointments
0,E54000034,2020-01,Attended,GP,Face-to-Face,1 Day,8107
1,E54000034,2020-01,Attended,GP,Face-to-Face,15 to 21 Days,6791
2,E54000034,2020-01,Attended,GP,Face-to-Face,2 to 7 Days,20686
3,E54000034,2020-01,Attended,GP,Face-to-Face,22 to 28 Days,4268
4,E54000034,2020-01,Attended,GP,Face-to-Face,8 to 14 Days,11971
...,...,...,...,...,...,...,...
596816,E54000050,2022-06,Unknown,Unknown,Unknown,2 to 7 Days,21
596817,E54000050,2022-06,Unknown,Unknown,Unknown,22 to 28 Days,8
596818,E54000050,2022-06,Unknown,Unknown,Unknown,8 to 14 Days,28
596819,E54000050,2022-06,Unknown,Unknown,Unknown,More than 28 Days,17
596820,E54000050,2022-06,Unknown,Unknown,Unknown,Same Day,10

In [9]:
nc

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
0,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Primary Care Network,Care Related Encounter,Patient contact during Care Home Round,3,2021-08
1,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Other,Care Related Encounter,Planned Clinics,7,2021-08
2,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Home Visit,79,2021-08
3,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,General Consultation Acute,725,2021-08
4,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Structured Medication Review,2,2021-08
...,...,...,...,...,...,...,...,...
817389,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,Unplanned Clinical Activity,12,2022-06
817390,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,Planned Clinics,4,2022-06
817391,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,Planned Clinical Procedure,92,2022-06
817392,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,General Consultation Routine,4,2022-06
817393,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,General Consultation Acute,19,2022-06

In [10]:
ad_na = ad[ad.isna().any(axis=1)]

In [11]:
ad_na.shape

(0, 8)

In [12]:
ad_na

Empty DataFrame
Columns: [sub_icb_location_code, sub_icb_location_ons_code, sub_icb_location_name, icb_ons_code, region_ons_code, appointment_date, actual_duration, count_of_appointments]
Index: []

In [13]:
ar_na = ar[ar.isna().any(axis=1)]

In [14]:
ar_na

Empty DataFrame
Columns: [icb_ons_code, appointment_month, appointment_status, hcp_type, appointment_mode, time_between_book_and_appointment, count_of_appointments]
Index: []

In [15]:
nc_na = nc[nc.isna().any(axis=1)]

In [16]:
nc_na

Empty DataFrame
Columns: [appointment_date, icb_ons_code, sub_icb_location_name, service_setting, context_type, national_category, count_of_appointments, appointment_month]
Index: []

In [17]:
# The number of locations in the data set 
print("There are " + str(nc.sub_icb_location_name.nunique()) + " unique locations in this dataset")

There are 106 unique locations in this dataset

In [18]:
# Five locations with the highest number of records
nc.sub_icb_location_name.value_counts()

NHS North West London ICB - W2U3Z              13007
NHS Kent and Medway ICB - 91Q                  12637
NHS Devon ICB - 15N                            12526
NHS Hampshire and Isle Of Wight ICB - D9Y0V    12171
NHS North East London ICB - A3A8R              11837
                                               ...
NHS North East and North Cumbria ICB - 00N      4210
NHS Lancashire and South Cumbria ICB - 02G      4169
NHS Cheshire and Merseyside ICB - 01V           3496
NHS Cheshire and Merseyside ICB - 01T           3242
NHS Greater Manchester ICB - 00V                2170
Name: sub_icb_location_name, Length: 106, dtype: int64

In [19]:
# Five locations with the highest number of records
print("The five locations with the highest"
      " number of records are:"
      " \nNorth West London \nKent and Medway \nDevon "
      "\nHampshire and Isle of Wight \nNorth East London")

The five locations with the highest number of records are:
North West London
Kent and Medway
Devon
Hampshire and Isle of Wight
North East London

In [20]:
# Number of unique service settings
print("There are " + str(nc.service_setting.nunique()) + " unique service settings in this dataset")

# Number of unique context types
print("There are " + str(nc.context_type.nunique()) + " unique context types in this dataset")

# Number of unique national categories
print("There are " + str(nc.national_category.nunique()) + " unique national categories in this dataset")

# Number of unique appointment statuses
print("There are " + str(ar.appointment_status.nunique()) + " unique appointment statuses in this dataset")

There are 5 unique service settings in this dataset
There are 3 unique context types in this dataset
There are 18 unique national categories in this dataset
There are 3 unique appointment statuses in this dataset

In [21]:
nc.service_setting.value_counts()

General Practice             359274
Primary Care Network         183790
Other                        138789
Extended Access Provision    108122
Unmapped                      27419
Name: service_setting, dtype: int64

In [22]:
nc.context_type.value_counts()

Care Related Encounter    700481
Inconsistent Mapping       89494
Unmapped                   27419
Name: context_type, dtype: int64

In [23]:
nc.national_category.value_counts()

Inconsistent Mapping                                                   89494
General Consultation Routine                                           89329
General Consultation Acute                                             84874
Planned Clinics                                                        76429
Clinical Triage                                                        74539
Planned Clinical Procedure                                             59631
Structured Medication Review                                           44467
Service provided by organisation external to the practice              43095
Home Visit                                                             41850
Unplanned Clinical Activity                                            40415
Patient contact during Care Home Round                                 28795
Unmapped                                                               27419
Care Home Visit                                                        26644
Social Prescribing Service                                             26492
Care Home Needs Assessment & Personalised Care and Support Planning    23505
Non-contractual chargeable work                                        20896
Walk-in                                                                14179
Group Consultation and Group Education                                  5341
Name: national_category, dtype: int64

In [24]:
ar.appointment_status.value_counts()

Attended    232137
Unknown     201324
DNA         163360
Name: appointment_status, dtype: int64

In [25]:
ad.appointment_date.head()

0    01-Dec-21
1    01-Dec-21
2    01-Dec-21
3    01-Dec-21
4    01-Dec-21
Name: appointment_date, dtype: object

In [26]:
nc.appointment_date.head()

0   2021-08-02
1   2021-08-02
2   2021-08-02
3   2021-08-02
4   2021-08-02
Name: appointment_date, dtype: datetime64[ns]

In [27]:
nc.appointment_date = pd.to_datetime(nc.appointment_date)

In [28]:
ad.appointment_date = pd.to_datetime(ad.appointment_date)

In [29]:
ad.appointment_date

0        2021-12-01
1        2021-12-01
2        2021-12-01
3        2021-12-01
4        2021-12-01
            ...
137788   2022-06-30
137789   2022-06-30
137790   2022-06-30
137791   2022-06-30
137792   2022-06-30
Name: appointment_date, Length: 137793, dtype: datetime64[ns]

In [30]:
nc.appointment_date

0        2021-08-02
1        2021-08-02
2        2021-08-02
3        2021-08-02
4        2021-08-02
            ...
817389   2022-06-30
817390   2022-06-30
817391   2022-06-30
817392   2022-06-30
817393   2022-06-30
Name: appointment_date, Length: 817394, dtype: datetime64[ns]

In [31]:
ad.appointment_date.min()

Timestamp('2021-12-01 00:00:00')

In [32]:
ad.appointment_date.max()

Timestamp('2022-06-30 00:00:00')

In [33]:
nc.appointment_date.min()

Timestamp('2021-08-01 00:00:00')

In [34]:
nc.appointment_date.max()

Timestamp('2022-06-30 00:00:00')

In [35]:
nc_subset = nc[(nc.appointment_date.between('2022-01-01', '2022-06-01')) 
               & (nc["sub_icb_location_name"] == 'NHS North West London ICB - W2U3Z')]

In [36]:
nc_subset

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
800289,2022-01-01,E54000027,NHS North West London ICB - W2U3Z,Unmapped,Unmapped,Unmapped,496,2022-01
800290,2022-01-01,E54000027,NHS North West London ICB - W2U3Z,Primary Care Network,Care Related Encounter,Clinical Triage,19,2022-01
800291,2022-01-01,E54000027,NHS North West London ICB - W2U3Z,Other,Inconsistent Mapping,Inconsistent Mapping,1,2022-01
800292,2022-01-01,E54000027,NHS North West London ICB - W2U3Z,General Practice,Inconsistent Mapping,Inconsistent Mapping,16,2022-01
800293,2022-01-01,E54000027,NHS North West London ICB - W2U3Z,Primary Care Network,Care Related Encounter,Planned Clinics,29,2022-01
...,...,...,...,...,...,...,...,...
806220,2022-06-01,E54000027,NHS North West London ICB - W2U3Z,Extended Access Provision,Care Related Encounter,Home Visit,4,2022-06
806221,2022-06-01,E54000027,NHS North West London ICB - W2U3Z,Extended Access Provision,Care Related Encounter,General Consultation Routine,27,2022-06
806222,2022-06-01,E54000027,NHS North West London ICB - W2U3Z,General Practice,Care Related Encounter,Unplanned Clinical Activity,626,2022-06
806223,2022-06-01,E54000027,NHS North West London ICB - W2U3Z,Extended Access Provision,Care Related Encounter,General Consultation Acute,224,2022-06
806224,2022-06-01,E54000027,NHS North West London ICB - W2U3Z,Extended Access Provision,Care Related Encounter,Clinical Triage,96,2022-06

In [37]:
nc_subset.service_setting.value_counts()

General Practice             2104
Other                        1318
Primary Care Network         1272
Extended Access Provision    1090
Unmapped                      152
Name: service_setting, dtype: int64

In [38]:
nc.groupby([nc['appointment_date'].dt.year, 
            nc['appointment_date'].dt.month])['count_of_appointments'].sum().sort_values()

appointment_date  appointment_date
2021              8                   23852171
2022              4                   23913060
2021              12                  25140776
2022              2                   25355260
                  1                   25635474
                  6                   25828078
                  5                   27495508
2021              9                   28522501
2022              3                   29595038
2021              10                  30303834
                  11                  30405070
Name: count_of_appointments, dtype: int64

In [39]:
print("November in 2021 has the most appointments with 30405070")

November in 2021 has the most appointments with 30405070

In [40]:
nc.groupby([nc['appointment_date'].dt.year, 
            nc['appointment_date'].dt.month])['count_of_appointments'].count()

appointment_date  appointment_date
2021              8                   69999
                  9                   74922
                  10                  74078
                  11                  77652
                  12                  72651
2022              1                   71896
                  2                   71769
                  3                   82822
                  4                   70012
                  5                   77425
                  6                   74168
Name: count_of_appointments, dtype: int64

In [41]:
nc.groupby([nc['appointment_date'].dt.year, 
            nc['appointment_date'].dt.month])['count_of_appointments'].count().sort_values()

appointment_date  appointment_date
2021              8                   69999
2022              4                   70012
                  2                   71769
                  1                   71896
2021              12                  72651
                  10                  74078
2022              6                   74168
2021              9                   74922
2022              5                   77425
2021              11                  77652
2022              3                   82822
Name: count_of_appointments, dtype: int64

In [43]:
import matplotlib.pyplot as plt
import seaborn as sns